html {
  font-size: 10px;

  body {
    font-size: initial;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 7px;
  }
}

html, body, #root {
  height: 100%;
  width: 100%;
  min-height: 100%;
  //max-width: 100%;
}
