.Component {
  position: relative;
  box-sizing: border-box;
  background-color: #282d30;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
}

.Component__container {
  height: 100%;
  width: 100%;
}

.Component__Radar {
}
